
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    margin-right:  2rem;
    

}

.image{
    width: 100px;
}

.con{
    display: flex;
    gap: 5rem;
    align-items: center;
}
  
  .navitem {
    font-size: 1.2rem;
    color: white !important;
    margin-left: 20px;
    
  }
  
  @media (max-width: 768px) {
    .navitem {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  